body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-size: 16px;
}

.page__container{
  background-image: url(./Assets/BACKGROUND.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.page__wrapper{
}

.slider__container{
    position: relative;
}

.slider-images__wrapper{
  width: 100%;
  height: 100%;
}
.frame__img{
    width: 100%;
}

.img__wrapper{
  width: 100%;
  height: 100%;
}

.image__wrapper img{
    height: 100%;
    max-width: 850px;
  }
  
  .image__wrapper img:first-child {
    z-index: 1;
  }
  
  .image__wrapper img:nth-child(2) {
    z-index: 0;
  }
  
  .image__wrapper img:nth-child(3) {
    z-index: -1;
  }
  
  .image__wrapper img:nth-child(4) {
    z-index: -2;
  }

  .slider__img{
    width: 100%;
    height: 100%;
  }

  .play-button__container {
    position: relative;
    z-index: 3;
    width: 300px;
    margin: auto;
  }

.navigation-button__container {
    position: absolute;
    z-index: 3;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

@media (min-width:320px){

  .img__wrapper{
    width: 100%;
    height: 100%;
  }

  .navigation-button__container{
    position: absolute;
    top: 39%;
    z-index: 3;
    width: 100%;
    justify-content: space-between;
    display: flex;
  }

  .navigation-button__wrapper{
      width: 120px;
      height: 120px;
    }
  
    .navigation-button__wrapper:first-child{
      left: 0px;
      margin-left: 10px;
    }
  
    .navigation-button__wrapper:last-child{
      right: 0px;
      margin-right: 10px;
    }
  
    .navigation-button__wrapper img{
      width: 100%;
      height: 100%;
    }
  
  .play-button__container{
    transform: translate(0, -10vh);
  }
  
  .play-button__wrapper{
    margin: auto;
  }

  .play-button__wrapper img{
      width: 100%;
  }

  .frame__container{
    margin: auto;
    margin-top: -59px;
    width: 90%;
    height: 100%;
    /* max-width: 700px; */
    max-height: 1200px;
    position: relative;
    z-index: 2;
  }

  .header__container{
    position: relative;
    z-index: 3;
  }

  .header__wrapper {
    margin: auto;
    max-width: 100%;
    width: fit-content;
  }

  .slider__container{
    transform: translate(0, -114%);
    margin: auto;
    position: relative;
    z-index: -1;
  }

  .slider__wrapper {
    width: 750px;
    height: 900px;
    margin: auto;
    max-width: 900px;
    max-height: 1500px;
}

  .slider-images__container{
    width: 750px;
    height: 900px;
  }

  .page__wrapper{
    padding: 300px 0px;
  }
}

@media (min-width: 480px){
    .img__wrapper{
      width: 100%;
      height: 100%;
    }

    .navigation-button__container{
      position: absolute;
      top: 45%;
      z-index: 3;
      width: 100%;
      justify-content: space-between;
      display: flex;
    }

    .navigation-button__wrapper{
        width: 120px;
        height: 120px;
      }
    
      .navigation-button__wrapper:first-child{
        left: 0px;
        margin-left: 10px;
      }
    
      .navigation-button__wrapper:last-child{
        right: 0px;
        margin-right: 10px;
      }
    
      .navigation-button__wrapper img{
        width: 100%;
        height: 100%;
      }
    
    .play-button__container{
      transform: translate(0, -10vh);
    }
    
    .play-button__wrapper{
      margin: auto;
    }

    .play-button__wrapper img{
        width: 100%;
    }

    .frame__container{
      margin: auto;
      margin-top: -59px;
      width: 90%;
      height: 100%;
      /* max-width: 700px; */
      max-height: 1200px;
      position: relative;
      z-index: 2;
    }

    .header__container{
      position: relative;
      z-index: 3;
    }

    .header__wrapper {
      margin: auto;
      max-width: 100%;
      width: fit-content;
    }

    .slider__container{
      transform: translate(0, -114%);
      margin: auto;
      position: relative;
      z-index: -1;
    }

    .slider__wrapper {
      width: 750px;
      height: 900px;
      margin: auto;
      max-width: 900px;
      max-height: 1500px;
  }

    .slider-images__container{
      width: 750px;
      height: 900px;
    }
}